.form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  background-color: transparent;
  border: 1px solid darkblue;
  color: darkblue;
  padding: 10px 20px;
  margin-left: 7.5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.button:hover{
  background-color: darkblue;
  color: white;
}
