.form{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .65);
  margin: 2.5% 12.5%;
  padding: .5rem 0rem;
  width: 75%;
}
.button{
  width: 1%;
  background-color: transparent;
  border: none;
}

.svg{
  position: relative;
  cursor: pointer;
  fill: black;
  right: 2.34375rem;
  top: .125rem;
  width: 1.5625rem;
}
.svg:hover{
  fill: green;
}
