.label{
  font-size: 1.2rem;
  color: rgb(144, 78, 168);
  width: 1%;
  position: relative;
  left: 1rem;
}
.input{
  color: rgb(144, 78, 168);
  caret-color: black;
  width: 100%;
  padding: .3125rem 2.34375rem .1875rem 3.28125rem;
  font-size: 1.5rem;
  background-color: transparent;
  border-top: 0rem;
  border-left: 0rem;
  border-right: 0rem;
  border-bottom: .125rem solid rgb(144, 78, 168);
}
.input:focus{
  outline: none !important;
  border: .125rem solid rgb(144, 78, 168);
  box-shadow: 0 0 .625rem grey;
}
@media screen and (min-width: 1000px){
  .label{
    left: 1.25rem;
  }
}
@media screen and (min-width: 1500px){
  .label{
    left: 1.5rem;
  }
}
@media screen and (min-width: 2000px){
  .label{
    left: 1.75rem;
  }
}
