.listItem{
  display: flex;
  justify-content: space-between;
  color: darkblue;
  font-size: 1.25rem;
}
.button{
  background-color: transparent;
  border: 1px solid darkblue;
  color: darkblue;
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.button:hover{
  background-color: darkblue;
  color: white;
}
