.listItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  color: rgb(144, 78, 168);
  background-color: white;
  border: 1px solid black;
  margin: .75rem;
  padding: .5rem;
}
.button{
  display: flex;
  background-color: transparent;
  border: none;
  padding: .5rem;
}
.svg{
  cursor: pointer;
}
.svg path{
  fill: black;
}
.svg:hover path{
  fill: red;
}
